body {
    font: 1rem $body-font;

    @include media (500px) {
        font-size: 90%;
    }
}

h1 {
    font: 2.2rem $heading-font;
    text-transform: capitalize;
    margin: 10px 0;

    @include media (500px) {
        font-size: 1.4rem;  
    }
}

.paragraph {
    color: $black;

    &-2 {
        font-size: 0.8rem;
    }
}

.links {
    color: $white;
    text-decoration: none;
    border-bottom: 2px dotted $red;
    padding: 1px;

    &:hover, &:focus {
        color: $white;
        background: $red;
    }

    @include media (500px) {
        color: $black;
    }
}

.footer-paragraph {
    font: 0.7rem $body-font;
    margin: 0;
    padding: 0;
    text-align: center;
}


