body {
    height: 100vh;
}

header {
    height: 10vh;
}

footer {
    height: 5vh;
}

.main-content {
    display: flex;
    justify-content: space-between;

    &-main {
        width: 60%;
    }

    &-aside {
        width: 30%;
    }
}