//colours
$black: #232323;
$white: #FAFAFA;
$red: #BE432C;
$yellow:#E1BD58;
$blue: #224270;

//fonts
$heading-font: 'Limelight', serif;
$body-font: 'Josefin Sans', sans-serif;

//border 
$large-border: 8px solid $black;
$small-border: 5px solid $black;

//box-shadow: 
$large-shadow:  0px 0px 0px 8px $black;
$small-shadow:  0px 0px 0px 5px $black;

//range-input variables 

$track-color: $black;
$thumb-color: $white;

$thumb-height: 20px;
$thumb-width: 20px;
$thumb-border-radius: 2px;
$thumb-border-width: 3px;
$thumb-border-color: $black;

$track-width: 100%;
$track-height: 10px;
$track-border-width: 1px;
$track-border-color: $black;

$track-radius: 5px;
$contrast: 5%;
