body {
    height: 100vh;
    display: grid; 
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    box-shadow: $large-shadow;
}

header {
    height: 10vh;
    grid-row: 1;
    grid-column: 1 / -1;
    padding: 0;
}

.main-content {
    height: 80vh;
    display: flex;
    justify-content: space-between;
    grid-row: 2 / 9;
    grid-column: 1 / -1;

    &-main {
        width: 60%;
    }

    &-aside {
        width: 35%;
    }

    &-description {
       width: 100%;
    }
}