body {
    height: 100vh;
    display: grid; 
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    box-shadow: $large-shadow;
}

.main-content {
    height: 80vh;
    display: flex;
    justify-content: space-between;
    grid-row: 2 / 9;
    grid-column: 1 / -1;

    &-main {
        width: 60%;
    }

    &-aside {
        width: 35%;
    }

    &-description {
        background: rgba(0,0,0,.7);
        padding: 1rem;
        position: absolute;
        top: 20%;
        left: 20%;  
        right: 20%;
        z-index: 10;
        display: none;

        .paragraph {
            color: $white;
        }
    }
}