.button {
   font-family: $heading-font;
   font-size: 1rem;
   color: $black; 
   background: $white;
   padding: 5px 10px;
   border: $small-border;
   margin: 10px 0;
   
   &:hover,
   &:focus {
       background: $red;
       color: $white;
   }

}
