.description {
    background: rgba(0,0,0,.8);
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;

    @include media (700px) {
        background: $white;
        position: static;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }

    .paragraph {
        color: $white;
        line-height: 1.6;

        @include media (700px) {
            color: $black;
        }
    }
}