footer {
  margin: 20px 0;
  height: 5vh;

  @include media(1180px) {
    margin-top: 2rem;
  }

  @include media(700px) {
    height: auto;
    margin: 10px 0;

    .footer-paragraph {
      margin: 10px 0;
    }
  }
}
