.user-control {
  position: relative;

  @include media(700px) {
    text-align: center;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media(700px) {
      flex-direction: column;
    }
  }

  &-input {
    margin: 5px 0 10px 0;

    @include media(700px) {
      width: 100%;
    }

    &:focus {
      box-shadow: 0px 0px 2px 2px rgba(190, 67, 44, 0.5);
    }
  }

  &-label {
    margin: 10px 0;
    padding: 0;
    width: 50%;

    @include media(700px) {
      width: 100%;
    }
  }

  &-button {
    margin: 10px 0;
  }

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  input[type="range"] {
    margin-top: 10%;
  }

  input[type="number"] {
    border: $small-border;
    width: 40%;
    text-align: center;

    @include media(700px) {
      width: 60%;
    }
  }

  input[type="text"] {
    border: $small-border;
    cursor: pointer;
    width: 40%;
    text-align: center;
  }
}
