.user-control {
  padding: 1rem 0;
  position: relative;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &-input {
    margin: 10px 0;

    &:focus {
      box-shadow: 0px 0px 2px 2px rgba(190,67,44,0.5);;
    }
  }
  
  &-label {
    margin: 10px 0;
    padding: 0;
  }
  
  &-button {
    margin: 10px 0;
  }

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  input[type=range]{
    margin-top: 10%;
  }

  input[type=text] {
    border: none;
    border-bottom: $small-border;
    width: 30%;
  }
}


