.user-control {
  padding: 1rem 0.5rem;
  position: relative;

  &-input {
    margin: 10px auto;
    display: block;
  }

  &-label {
    width: 100%;
  }

  input[type=range]{
    margin-top: 12%;
  }
}

