.mondrian {
    max-width: 940px;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-auto-rows: 50px;
    grid-auto-flow: dense;
    background: black;
}

.element {
    border: 8px solid black;
    color: white;
    background: red;
}

.horizontal-span-1{
    grid-column: span 1;
}

.horizontal-span-2{
    grid-column: span 2;
}

.horizontal-span-3{
    grid-column: span 3;
}

.horizontal-span-4{
    grid-column: span 4;
}

.horizontal-span-5{
    grid-column: span 5;
}

.vertical-span-1{
    grid-row: span 1;
}

.vertical-span-2{
    grid-row: span 2;
}

.vertical-span-3{
    grid-row: span 3;
}

.vertical-span-4{
    grid-row: span 4;
}

.vertical-span-5{
    grid-row: span 5;
}
