article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1050px) {
  .wrapper {
    width: 85%;
  }
}

@media (max-width: 700px) {
  .wrapper {
    width: 90%;
  }
}

body {
  font: 1rem "Josefin Sans", sans-serif;
}

@media (max-width: 700px) {
  body {
    font-size: 90%;
  }
}

h1 {
  font: 2.2rem "Limelight", serif;
  text-transform: capitalize;
  margin: 10px 0;
}

@media (max-width: 1050px) {
  h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.4rem;
  }
}

.paragraph {
  color: #232323;
}

.paragraph-2 {
  font-size: 0.8rem;
}

.links {
  color: #FAFAFA;
  text-decoration: none;
  border-bottom: 2px dotted #BE432C;
  padding: 1px;
}

.links:hover, .links:focus {
  color: #FAFAFA;
  background: #BE432C;
}

@media (max-width: 700px) {
  .links {
    color: #232323;
  }
}

.footer-paragraph {
  font: 0.7rem "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.button {
  font-family: "Limelight", serif;
  font-size: 1rem;
  color: #232323;
  background: #FAFAFA;
  padding: 5px 10px;
  border: 5px solid #232323;
  margin: 10px 0;
}

.button:hover, .button:focus {
  background: #BE432C;
  color: #FAFAFA;
}

.description {
  background: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  z-index: 10;
  display: none;
}

@media (max-width: 1050px) {
  .description {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5%;
  }
}

@media (max-width: 700px) {
  .description {
    background: #FAFAFA;
    position: static;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.description .paragraph {
  color: #FAFAFA;
  line-height: 1.6;
}

@media (max-width: 700px) {
  .description .paragraph {
    color: #232323;
  }
}

footer {
  margin: 20px 0;
  height: 5vh;
}

@media (max-width: 700px) {
  footer {
    height: auto;
    margin: 10px 0;
  }
  footer .footer-paragraph {
    margin: 10px 0;
  }
}

@media (max-width: 700px) {
  .user-control {
    text-align: center;
    margin-top: 1rem;
  }
}

.user-control-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 700px) {
  .user-control-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.user-control-input {
  margin: 5px 0 10px 0;
}

@media (max-width: 700px) {
  .user-control-input {
    width: 100%;
  }
}

.user-control-input:focus {
  -webkit-box-shadow: 0px 0px 2px 2px rgba(190, 67, 44, 0.5);
          box-shadow: 0px 0px 2px 2px rgba(190, 67, 44, 0.5);
}

.user-control-label {
  margin: 10px 0;
  padding: 0;
  width: 50%;
}

@media (max-width: 700px) {
  .user-control-label {
    width: 100%;
  }
}

.user-control label[name=number-of-elements] {
  width: 100%;
}

.user-control-button {
  margin: 10px 0;
}

.user-control fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.user-control input[type=number] {
  border: 5px solid #232323;
  width: 40%;
  text-align: center;
}

@media (max-width: 700px) {
  .user-control input[type=number] {
    width: 60%;
  }
}

.user-control input[type=text] {
  border: 5px solid #232323;
  cursor: pointer;
  width: 40%;
  text-align: center;
}

.header {
  height: 10vh;
}

@media (max-width: 700px) {
  .header {
    height: auto;
    text-align: center;
  }
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 700px) {
  .header .wrapper {
    display: block;
  }
}

.mondrian {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-auto-rows: repeat(auto-fill, 50px);
  grid-auto-flow: dense;
  background: #232323;
  border: 8px solid #232323;
}

@media (max-width: 700px) {
  .mondrian {
    min-height: 50vh;
    -ms-grid-columns: (minmax(30px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    grid-auto-rows: repeat(auto-fill, 30px);
  }
}

.element {
  border: 5px solid #232323;
  background: #FAFAFA;
}

.message {
  border: 5px solid #232323;
  color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.horizontal-span-1 {
  grid-column: span 1;
}

.horizontal-span-2 {
  grid-column: span 2;
}

.horizontal-span-3 {
  grid-column: span 3;
}

.horizontal-span-4 {
  grid-column: span 4;
}

.horizontal-span-5 {
  grid-column: span 5;
}

.vertical-span-1 {
  grid-row: span 1;
}

.vertical-span-2 {
  grid-row: span 2;
}

.vertical-span-3 {
  grid-row: span 3;
}

.vertical-span-4 {
  grid-row: span 4;
}

.vertical-span-5 {
  grid-row: span 5;
}

.user-control input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  margin-top: 6%;
  width: 100%;
}

@media (max-width: 700px) {
  .user-control input[type=range] {
    margin-top: 10%;
  }
}

.user-control input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: #232323;
  border: 1px solid #232323;
  overflow: hidden;
}

.user-control input[type=range]::-webkit-slider-thumb {
  border: 3px solid #232323;
  border-radius: 2px;
  height: 20px;
  width: 20px;
  background: #FAFAFA;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

.user-control input[type=range]:focus::-webkit-slider-runnable-track {
  background: #303030;
}

.user-control input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: #232323;
  border: 1px solid #232323;
}

.user-control input[type=range]::-moz-range-progress {
  background: #BE432C;
}

.user-control input[type=range]::-moz-range-thumb {
  border: 3px solid #232323;
  border-radius: 2px;
  height: 20px;
  width: 20px;
  background: #FAFAFA;
  cursor: pointer;
}

.user-control input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 20px 0;
  color: transparent;
}

.user-control input[type=range]::-ms-fill-lower {
  background: #BE432C;
  border: 1px solid #232323;
  border-radius: 10px;
}

.user-control input[type=range]::-ms-fill-upper {
  background: #232323;
  border: 1px solid #232323;
  border-radius: 10px;
}

.user-control input[type=range]::-ms-thumb {
  border: 3px solid #232323;
  border-radius: 2px;
  height: 20px;
  width: 20px;
  background: #FAFAFA;
  cursor: pointer;
}

.user-control input[type=range]:focus::-ms-fill-lower {
  background: #232323;
}

.user-control input[type=range]:focus::-ms-fill-upper {
  background: #303030;
}

.user-control output {
  background: #232323;
  color: #FAFAFA;
  font: 0.8rem/0.8rem "Josefin Sans", sans-serif;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 55%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.user-control output:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid #232323;
  border-left: 5px solid transparent;
  background-repeat: 5px solid transparent;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body {
  height: 100vh;
}

@media (max-width: 700px) {
  body {
    height: auto;
  }
}

.main-content {
  height: 80vh;
  max-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 700px) {
  .main-content {
    height: auto;
    max-height: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-content-main {
  width: 60%;
}

@media (max-width: 1050px) {
  .main-content-main {
    width: 55%;
  }
}

@media (max-width: 700px) {
  .main-content-main {
    height: auto;
    width: 100%;
  }
}

.main-content-aside {
  width: 35%;
}

@media (max-width: 1050px) {
  .main-content-aside {
    width: 40%;
  }
}

@media (max-width: 700px) {
  .main-content-aside {
    height: auto;
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
/*# sourceMappingURL=style.css.map */